:root {
    font-size: 10px;
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}
*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DMSansItalic';
    src: url('assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400 500;
    font-style:normal;
}

img {
    max-width: 100%;
    display: block;
}

body{ 
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 1;
    display: grid;
    place-content: center;
}

.x-large {
    font-size: 4rem;
    font-weight: 500;
}

.large-text {
    font-size: 2.75rem;
    font-weight: 500;
}

.medium-text {
    font-size: 2.35rem;
    font-weight: 500;
}

.small-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    max-width: 1400px;
    margin: 1rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 75px;
    gap: 2rem;
    grid-template-areas: 
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box5 box6 box3'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8'
    'box4 box7 box8 box8';
}

.container .item {
    border-radius: .5rem;
    overflow: hidden;
}

.container .item:nth-child(1) {
    background-color: var(--yellow-100);
}

.container .item:nth-child(2),
.container .item:nth-child(8) {
    background-color: var(--purple-500);
    color: var(--white);
}

.container .item:nth-child(3) {
    background-color: var(--purple-100);
}

.container .item:nth-child(4),
.container .item:nth-child(6) {
    background-color: var(--yellow-500);
}

.container .item:nth-child(5),
.container .item:nth-child(7) {
    background-color: var(--white);
}

.container .item:nth-child(1) {
    grid-area: box1;
    padding: 6rem 2rem 0 2.5rem;
}

.container .item:nth-child(1) em {
    color: var(--purple-500);
}

.container .item:nth-child(1) img {
    margin-top: 1rem;
}

.container .item:nth-child(2) {
    grid-area: box2;
    padding: 2rem;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .item:nth-child(2) .emph {
    color: var(--yellow-500);
}

.container .item:nth-child(2) img {
    width: 250px;
    margin: 1rem 0 .5rem;
}

.container .item:nth-child(2) .small-text {
    font-size: 1.9rem;
}

.container .item:nth-child(3) {
    grid-area: box3;
    padding: 2.75rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.container .item:nth-child(3) img {
    position: absolute;
    height: 410px;
    object-fit: cover;
    object-position: left;
    top: 100px;
}

.container .item:nth-child(3) .small-text {
    font-size: 2.3rem;
}

.container .item:nth-child(4) {
    grid-area: box4;
    padding: 1.75rem 2.25rem;
}

.container .item:nth-child(4) p {
    margin-bottom: 2rem;
}

.container .item:nth-child(5) {
    grid-area: box5;
    padding: 1rem 2rem 1rem 2rem;
    position: relative;
}

.container .item:nth-child(5) p {
    margin-top: 6rem;
}

/* .container .item:nth-child(5) img {
    position: absolute;
} */

.container .item:nth-child(6) {
    grid-area: box6;
    position: relative;
    padding: 1rem 1.75rem;
}

.container .item:nth-child(6) p {
    margin-bottom: 1rem;
}

.container .item:nth-child(7) {
    grid-area: box7;
    padding: 1.5rem;
}

.container .item:nth-child(7) span {
    display: block;
    margin-bottom: 1rem;
}

.container .item:nth-child(7) img {
    margin-top: 1.5rem;
}

.container .item:nth-child(8) {
    grid-area: box8;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1.75fr 2fr;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .container {
        grid-auto-rows: initial;
        grid-template-areas: 
        'box1 box1 box2 box2'
        'box1 box1 box2 box2'
        'box3 box3 box4 box4'
        'box3 box3 box4 box4'
        'box5 box5 box6 box6'
        'box5 box5 box6 box6'
        'box7 box7 box8 box8'
        'box7 box7 box8 box8';
    }

    .container .item:nth-child(8) {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container .item {
        text-align: center;
    }

    .container {
        grid-template-areas:
        'box2'
        'box5'
        'box6'
        'box3'
        'box8'
        'box7'
        'box1'
        'box4';
    }

    .container .item:nth-child(4),
    .container .item:nth-child(5),
    .container .item:nth-child(6),
    .container .item:nth-child(7) {
        text-align: left;
    }

    .container .item:nth-child(1) {
        padding: 2rem;
        text-align: left;
    }

    .container .item:nth-child(1) .large-text {
        font-size: 2.5rem;
    }

    .container .item:nth-child(1) img {
        width: 250px;
    }

    .container .item:nth-child(3) {
        padding: 2.75rem 1rem 2.5rem 1rem;
    }

    .container .item:nth-child(3) .large-text {
        font-size: 2.25rem;
    }

    .container .item:nth-child(3) img {
        margin: 1rem 0;
        position: initial;
        height: initial;
    }

    .container .item:nth-child(5) p {
        margin-top: 10rem;
    }

    .container .item:nth-child(8) {
        padding: 1.5rem 4rem;
    }
}

@media (max-width: 540px) {
    .container .item:nth-child(5) p {
        margin-top: 6rem;
    }
}